@model IEnumerable<TickCloud.ClientWebApp.Models.Folder>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-justify">Folders</h1>

<table class="table">
    
@foreach (var item in Model) {
        <ui>

            <li>
                @Html.DisplayFor(modelItem => item.FolderName) &nbsp;
                @Html.DisplayFor(modelIteml => item.SubFiles)
            </li>
        </ui>
}

</table>
