@page
@model WebApplication1.Pages.IndexModel
@{
}

<a href="javascript:void(0)" onclick="getFolders()">All folders</a><br><br>

<script>
    function getFolders() {
        console.log('getFolders');
    }
</script>
